.caseform_title{
    text-align: center;
}

.caseform{
    margin: 0 auto;
    background: #fff;
    border: 1px solid black;
    padding: 15px;
    width: 50%;

}

.caseform input{
    width: 90%;
}

.caseform select{
    margin-left: 20px;
}

.type{
    margin: 0 15px 0 20px
}



@media (max-width: 425px){

    .caseform_title{
        font-size: 15px;
    }
    
    .caseform{
        width: 90%;  
    }
    
    .caseform input{
        width: 80%;
    }
    
    .caseform select{
        margin-left: 20px;
    }
    
    .type{
        margin: 0 15px 0 20px;
        font-size: 13px;
        
    }

}