@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.wrapper{
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
}

a{
  text-decoration: none;
  color: black;
  display: block;
  margin-top: 15px;
}


@media (max-width: 425px){

  .header{
    margin: 0px;
    justify-content: flex-start;
  }

  .headerMenu{
    flex-direction: column;
  }

  .headerMenu li{
    margin: 5px 5px;
    padding: 0;
    font-size: 15px;
  }

  .main_span{
    font-size: 20px;
  }


}
  